---
import Link from "./Link.astro";
import { Image } from "astro:assets";

const { src, href, alt, texto } = Astro.props;
---

<Link
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={`flex items-center text-gray-400 hover:text-gray-400 ${Astro.props.class}`}
>
  <Image src={src} height={48} alt={alt} />
  <p>{texto}</p>
</Link>
